html {
	margin: 0;
	padding: 0;
	}
body {
   	margin: 0;
	padding: 0;
	font-family:verdana,sans-serif;
	}

img {
   	border: 0px;
	}
/*//////////////////////////////////////////////////*/
#header {
	width: 100%;
	height: 130px;
	background-color: #000000;
	filter:alpha(opacity=10);
	background-color: rgba(32,32,32, 0.1);
	}
#header_content {
	width: 980px;
	height: 130px;
	margin: 0 auto;
   	padding: 0px;
	
	}
#logo {
   	float: left;
	margin-top: 30px;
	margin-left: 0px;
	}
#header_lang {display: none;}
#header_lang_content {display: none;}
#menu_lg {display: none;}

/* ---------------------------------------------------*/
#center {
	width: 100%;
	height: 615px;
	background-color: #000000;
	filter:alpha(opacity=80);
	background-color: rgba(32,32,32, 0.8);
	}
#container_center {
	width: 980px;
	height: 615px;
	margin: 0 auto;
   	padding: 0px;
	
	}		
/*//////////////////////////////////////////////////////////////////////////
				              Bloc Gauche
//////////////////////////////////////////////////////////////////////////*/
#container_left {display: none;}
#menu {display: none;}
	

/*//////////////////////////////////////////////////////////////////////////
				       Bloc Droit - Page principale
//////////////////////////////////////////////////////////////////////////*/
#container_main {
	float: left;
	width: 900px;	
}
#content { 
	margin: 30px 30px 30px 30px;
	/*border: 1px solid #a07843;*/
	padding-right: 10px;
}
#content h4
{ 
	margin-top: 6px;
	font-weight:300;
	color:#005aab;
	font-size:20px;
	text-transform:uppercase;
	text-align: justify;
}
#content h5
{ 
	margin-top: 6px;
	font-weight:300;
	color:#005aab;
	font: 14px verdana, sans-serif;
	text-align: justify;
}
#content ol
{ 
	font: 14px verdana, sans-serif;
	color: #000000;
	text-align: justify;
	line-height: 20px;
}
.minimenu a {display: none;}
.minimenu a:link {display: none;}
.minimenu a:visited {display: none;}
.minimenu a:hover {display: none;}

.listage
{ 
	margin-left: 30px;
	margin-top: 5px;
	margin-bottom: 5px;
	/*border: 1px solid #a07843;*/
	padding: 0px;
}
.listage a:link 
{
	text-decoration: none;
	color: #000000;
}
.listage a:visited 
{
	text-decoration: none;
	color: #000000;
}
.listage a:hover 
{ 
	text-decoration: underline;
	color:#005aab;
}
.msg_err a:link 
{
	text-decoration: none;
	color: #000000;
}
.msg_err a:visited 
{
	text-decoration: none;
	color: #000000;
}
.msg_err a:hover 
{ 
	text-decoration: underline;
	color: #005aab;
}
.listagetitre
{ 
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 0px;
}
.listagetitre a:link 
{
	text-decoration: none;
	color: #000000;
}
.listagetitre a:visited 
{
	text-decoration: none;
	color: #000000;
}
.listagetitre a:hover 
{ 
	text-decoration: underline;
	color: #005aab;
}
#ind_err
{ 
	position : relative;
  	left : 20px;
  	top : 10px;
	width: 500px;
	color: #ff0000;
	font-size:11px;
	text-align: justify;
}
#ind_ok
{ 
	position : relative;
  	left : 20px;
  	top : 10px;
	width: 500px;
	color: #005aab;
	font-size:11px;
	text-align: justify;
}
#content p
{ 
	font: 14px verdana, sans-serif;
	color: #000000;
	text-align: justify;
}
#content p.date
{ 
	font: 13px verdana, sans-serif;
	text-align: right;
}
#content p.fondgris
{ 
	font: 14px verdana, sans-serif;
	color: #000000;
	text-align: justify;
	background-color: #c0c0c0;
}
#content p table {
 	display: inline;	
	border-collapse:collapse;
 	width:95%;
 	border:1px solid black;
}
#content p td {
  	color: #000000;	
	font: 11px verdana, sans-serif;	
	border:1px solid black;
	padding: 2px;
	}
.text_underline
{ 
 text-decoration: underline; 
}
#content img
{ 
	background-color: #ffffff;
}
#content p.msg_err
{ 
	color: red;
}
#content p.msg_ok
{ 
	color: #005aab;
}

/*///////// Form ///////////*/
#monForm
{
	margin: auto;
   	margin-top: 30px;
   	padding: 0px;
   	text-align: center ;
	font-size : 14px;
	width: 60%;
}
#monForm p
{
	margin: 4px 0;
}
/* Label */
#monForm label
{
	display: block;
	width: 23%;
	float: left;
	padding-right: 1%;
	text-align: right;
	/*letter-spacing: 1px;*/
}
#monForm .form_label_nostyle
{
	background: none;
}
/* Input */
#monForm input, #monForm select
{
	margin-left: 1%;
	width: 58%;
	border: #677D92 1px solid;
}

#monForm input:hover, #monForm select:hover, #monForm input:focus, #monForm select:focus
{
	background-color: #ddeeff;
}

/* button submit */
#monForm input[type="submit"]
{
	border: #677D92 1px solid;
	width: 27%;
	margin-top: 10px;
	font-size : 11px;
	background-color: #677D92;
	font-family: Verdana, Arial, sans-serif;
    color: #ffffff;
}

#monForm input[type="submit"]:hover
{
	background-color: #8b96a2;
	font-size : 11px;
	font-family: Verdana, Arial, sans-serif;
    color: #000000;
	cursor: pointer;
}
/* -------------  Recherche  ------------------*/
#monSForm {
	font: 14px verdana, sans-serif;
	}
#monSForm p{
	margin: 0px;
	}
/* Label */
#monSForm label{
	display: block;
	float: left;
	padding-right: 1%;
	}
#monSForm .form_label_nostyle 
{
	background: none;
	
}
/* Input */
#monSForm input, #monSForm select
{
	margin-left: 1%;
	/*width: 58%;*/
	border: #677D92 1px solid;
}

#monSForm input:hover, #monSForm select:hover, #monSForm input:focus, #monSForm select:focus
{
	background-color: #ddeeff;
}

/* button submit */
#monSForm input[type="submit"]
{
	border: #677D92 1px solid;
	/*width: 27%;*/
	margin-top: 15px;
	font-size : 11px;
	background-color: #677D92;
	font-family: Verdana, Arial, sans-serif;
    color: #ffffff;
}

#monSForm input[type="submit"]:hover
{
	background-color: #8b96a2;
	font-size : 11px;
	font-family: Verdana, Arial, sans-serif;
    color: #000000;
	cursor: pointer;
}

/*///////////////// contactForm //////////////////////*/
#contactForm
{
	margin: auto; /* Pour centrer notre page */
   	padding: 0px;
   	text-align: center ;
    font: 14px verdana, sans-serif;
	width: 86%;
}
#contactForm p
{
	margin: 20px 0;
}
.inputG { display:none;}
#contactForm a:link 
{
	text-decoration: none;
	color: #000000;
}
#contactForm p a:visited 
{
	text-decoration: none;
	color: #000000;
}
#contactForm p a:hover 
{ 
	text-decoration: underline;
	color: #005aab;
}
#contactForm p fieldset
{
	border: #677d92 1px solid;
	text-align: left;
	margin: 15px 0;
	color: #777777;
	font-size : 14px;
}
/* Label */
#contactForm label
{
	/*background-color: #502F23;*/
	display: block;
	width: 23%;
	float: left;
	padding-right: 1%;
	text-align: right;
	letter-spacing: 0px;
}
#contactForm .form_label_nostyle
{
	background: none;
	}
/* textarea */
/* Input */
#contactForm input, #contactForm select, #contactForm textarea
{
	margin-left: 1%;
	width: 68%;
	font: 14px verdana, sans-serif;
	border: #677d92 1px solid;
}

#contactForm input:hover, #contactForm select:hover, #contactForm input:focus, #contactForm select:focus, #contactForm textarea:hover, #contactForm textarea:focus
{
	background-color: #ddeeff;
}

/* button submit */
#contactForm input[type="submit"]
{
	border: #677d92 1px solid;
	background-color: #677d92;
	color: #ffffff;
	width: 28%;
	margin-top: 12px;
	font: 14px verdana, sans-serif;
}

#contactForm input[type="submit"]:hover
{
	border: #677d92 1px solid;
	background-color: #8b96a2;
	color: #000000;
	cursor: pointer;
}


/*//////////////////////////////////////////////////////////////////////////
				               Footer - Copyright
//////////////////////////////////////////////////////////////////////////*/
#footer {display: none;}
#footer_content {display: none;}