html {
	margin: 0;
	padding: 0;
	}
body {
   	margin: 0;
	padding: 0;
	font-family:"Lato",sans-serif;
	}

img {
   	border: 0px;
	}
/*//////////////////////////////////////////////////*/
#header {
	width: 100%;
	height: 130px;
	background-color: #000000;
	filter:alpha(opacity=10);
	background-color: rgba(32,32,32, 0.1);
	}
#header_content {
	width: 980px;
	height: 130px;
	margin: 0 auto;
   	padding: 0px;
	
	}
#logo {
   	float: left;
	margin-top: 30px;
	margin-left: 0px;
	}
#header_lang {
	width: 100%;
	height: 5px; /*without languages*/
	/*height: 50px; with languages*/
	background-color: #000000;
	filter:alpha(opacity=60);
	background-color: rgba(32,32,32, 0.6);
	}
#header_lang_content {
	width: 980px;
	margin: 0 auto;
   	padding: 0px;
	
	}
#menu_lg {
	margin:0px;
	padding:15px 0px 0px 0px;
	text-align:right;
	}
#menu_lg li{
	display:inline-block;
	font-size:11px;
	text-transform:uppercase;
	font-weight:700;
	padding-right:6px;
	}
#menu_lg li a,#menu_lg li p{
	color:white;
	padding-bottom:5px;
	border-bottom:2px solid transparent;
	text-decoration:none !important;
	}
#menu_lg li a:hover,#menu_lg li a:active{
	color:#00afeb;
	text-decoration:none !important;
	}
#menu_lg li .active{
	font-weight:300;
	border-bottom:2px solid #00afeb;
	}

/* ---------------------------------------------------*/
#center {
	width: 100%;
	display: inline-block;
	/*min-height: 615px; /*615px; */
	background-color: #000000;
	filter:alpha(opacity=80);
	background-color: rgba(32,32,32, 0.8);
	}
#container_center {
	width: 980px;
	/*height: 615px;*/
	margin: 0 auto;
   	padding: 0px;
	
	}		
/*//////////////////////////////////////////////////////////////////////////
				              Bloc Gauche
//////////////////////////////////////////////////////////////////////////*/
#container_left {
    float: left;
    width: 170px;
	
	}
#menu {
	width: 250px;
	margin: 10px 0px 0px 0px;
	font-size: 14px;
	color:#242424;
}
#menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#menu li a {
	height: 30px;
	voice-family: "\"}\""; 
	voice-family: inherit;
	text-decoration: none;
	border-bottom:1px solid rgba(255,255,255,0.1);
}
#menu li a:link, #menu li a:visited {
	color: #fff;
	font-weight:300;
	display: block;
	padding: 4px 0 0 10px;
}

#menu li a:hover {
	color:#00afeb;
	padding: 4px 0 0 10px;
}

#menu li a.on {
	color:#00afeb;
}

/*//////////////////////////////////////////////////////////////////////////
				       Bloc Droit - Page principale
//////////////////////////////////////////////////////////////////////////*/
#container_main {
	float: right;
	width: 750px;
	background-color: #ffffff;
	
}
#content { 
	/*height: 611px;*/
	font-family:arial;
	margin: 15px 20px;
	overflow: auto;
	padding-right: 5px;
}
#content h3
{ 
	margin-top: 6px;
	font-weight:300;
	color:#005aab;
	font-size:20px;
	text-transform:uppercase;
	text-align: justify;
}
#content h4
{ 
	margin-top: 6px;
	font-weight:300;
	color:#005aab;
	font-size:18px;
	text-transform:uppercase;
	text-align: justify;
}
#content h5
{ 
	margin-top: 6px;
	font-weight:300;
	color:#005aab;
	font-size:14px;
	text-align: justify;
}
#content h6
{ 
	margin-top: 6px;
	font-weight:300;
	margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
	color:#005aab;
	font-size:13px;
	text-align: justify;
}
#content ol
{ 
	font-size:13px;
	color: #000000;
	text-align: justify;
	line-height: 20px;
}
#documentation_btn {
	height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.minimenu a
{
	font-size:11px;
	margin-right: 5px;
	padding: 0px 1px;
}
.minimenu a:link 
{
	
	text-decoration: none;
	background-color: #677d92;
	color: #ffffff;
	border: 1px #677d92;
}
.minimenu a:visited 
{
	
	text-decoration: none;
	background-color: #677d92;
	color: #ffffff;
	border: 1px #677d92;
}
.minimenu a:hover 
{ 
	
	text-decoration: none;
	background-color: #8b96a2;
	color: #000000;
	border: 1px #677d92;
}

.listage
{ 
	margin-left: 30px;
	margin-top: 5px;
	margin-bottom: 5px;
	/*border: 1px solid #a07843;*/
	padding: 0px;
}
.listage a:link 
{
	text-decoration: none;
	color: #000000;
}
.listage a:visited 
{
	text-decoration: none;
	color: #000000;
}
.listage a:hover 
{ 
	text-decoration: underline;
	color:#005aab;
}
.msg_err a:link 
{
	text-decoration: none;
	color: #000000;
}
.msg_err a:visited 
{
	text-decoration: none;
	color: #000000;
}
.msg_err a:hover 
{ 
	text-decoration: underline;
	color: #005aab;
}
.listagetitre
{ 
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 0px;
}
.listagetitre a:link 
{
	text-decoration: none;
	color: #000000;
}
.listagetitre a:visited 
{
	text-decoration: none;
	color: #000000;
}
.listagetitre a:hover 
{ 
	text-decoration: underline;
	color: #005aab;
}
#ind_err
{ 
	position : relative;
  	left : 20px;
  	top : 10px;
	width: 500px;
	color: #ff0000;
	font-size:11px;
	text-align: justify;
}
#ind_ok
{ 
	position : relative;
  	left : 20px;
  	top : 10px;
	width: 500px;
	color: #005aab;
	font-size:11px;
	text-align: justify;
}
#content ul p, a {
  list-style: none;
}

#content ul li::before a {
  content: "\2022";
  color: #005aab;
  font-weight: bold;
  display: inline-block;
  width: 2em;
  margin-left: -2em;
}

#content ul li::before p {
  content: "\2022";
  color: #000000;
  font-weight: bold;
  display: inline-block;
  width: 2em;
  margin-left: -2em;
}

#content a
{ 
	font-size:13px;
}
#content p
{ 
	font-size:13px;
	color: #000000;
	text-align: justify;
	margin-bottom: 13px;
}
#content p.date
{ 
	font-size:13px;
	text-align: right;
}
#content p.fondgris
{ 
	font-size:13px;
	color: #000000;
	text-align: justify;
	background-color: #c0c0c0;
}
#content p table {
 	display: inline;	
	border-collapse:collapse;
 	width:95%;
 	border:1px solid black;
	font-size:13px;
}
#content p td {
  	color: #000000;	
	font-size:13px;
	border:1px solid black;
	padding: 2px;
	}
.text_underline
{ 
 text-decoration: underline; 
}
#content img
{ 
	background-color: #ffffff;
}
#content p.msg_err
{ 
	color: red;
}
#content p.msg_ok
{ 
	color: #005aab;
}

/*///////// Form ///////////*/
#monForm
{
	margin: auto;
   	margin-top: 30px;
   	padding: 0px;
   	text-align: center ;
	font-size : 13px;
	width: 60%;
}
#monForm p
{
	margin: 4px 0;
}
/* Label */
#monForm label
{
	display: block;
	width: 23%;
	float: left;
	padding-right: 1%;
	text-align: right;
	/*letter-spacing: 1px;*/
}
#monForm .form_label_nostyle
{
	background: none;
}
/* Input */
#monForm input, #monForm select
{
	margin-left: 1%;
	width: 58%;
	border: #677D92 1px solid;
}

#monForm input:hover, #monForm select:hover, #monForm input:focus, #monForm select:focus
{
	background-color: #ddeeff;
}

/* button submit */
#monForm input[type="submit"]
{
	border: #677D92 1px solid;
	width: 27%;
	margin-top: 10px;
	font-size : 11px;
	background-color: #677D92;
	font-family: Verdana, Arial, sans-serif;
    color: #ffffff;
}

#monForm input[type="submit"]:hover
{
	background-color: #8b96a2;
	font-size : 11px;
	font-family: Verdana, Arial, sans-serif;
    color: #000000;
	cursor: pointer;
}
/* -------------  Recherche  ------------------*/
#monSForm {
	font-size: 13px;
	}
#monSForm p{
	margin: 0px;
	}
/* Label */
#monSForm label{
	display: block;
	float: left;
	padding-right: 1%;
	}
#monSForm .form_label_nostyle 
{
	background: none;
	
}
/* Input */
#monSForm input, #monSForm select
{
	margin-left: 1%;
	/*width: 58%;*/
	border: #677D92 1px solid;
}

#monSForm input:hover, #monSForm select:hover, #monSForm input:focus, #monSForm select:focus
{
	background-color: #ddeeff;
}

/* button submit */
#monSForm input[type="submit"]
{
	border: #677D92 1px solid;
	/*width: 27%;*/
	margin-top: 15px;
	font-size : 11px;
	background-color: #677D92;
	font-family: Verdana, Arial, sans-serif;
    color: #ffffff;
}

#monSForm input[type="submit"]:hover
{
	background-color: #8b96a2;
	font-size : 11px;
	font-family: Verdana, Arial, sans-serif;
    color: #000000;
	cursor: pointer;
}

/*///////////////// contactForm //////////////////////*/
#contactForm
{
	margin: auto; /* Pour centrer notre page */
   	padding: 0px;
   	text-align: center ;
    font-size : 13px;
	width: 86%;
}
#contactForm p
{
	margin: 20px 0;
}
.inputG { display:none;}
#contactForm a:link 
{
	text-decoration: none;
	color: #000000;
}
#contactForm p a:visited 
{
	text-decoration: none;
	color: #000000;
}
#contactForm p a:hover 
{ 
	text-decoration: underline;
	color: #005aab;
}
#contactForm p fieldset
{
	border: #677d92 1px solid;
	text-align: left;
	margin: 15px 0;
	color: #777777;
	font-size : 13px;
}
/* Label */
#contactForm label
{
	/*background-color: #502F23;*/
	display: block;
	width: 23%;
	float: left;
	padding-right: 1%;
	text-align: right;
	letter-spacing: 0px;
}
#contactForm .form_label_nostyle
{
	background: none;
	}
/* textarea */
/* Input */
#contactForm input, #contactForm select, #contactForm textarea
{
	margin-left: 1%;
	width: 68%;
	font-size : 13px;
	border: #677d92 1px solid;
}

#contactForm input:hover, #contactForm select:hover, #contactForm input:focus, #contactForm select:focus, #contactForm textarea:hover, #contactForm textarea:focus
{
	background-color: #ddeeff;
}

/* button submit */
#contactForm input[type="submit"]
{
	border: #677d92 1px solid;
	background-color: #677d92;
	color: #ffffff;
	width: 28%;
	margin-top: 12px;
	font-size : 13px;
}

#contactForm input[type="submit"]:hover
{
	border: #677d92 1px solid;
	background-color: #8b96a2;
	color: #000000;
	cursor: pointer;
}


/*//////////////////////////////////////////////////////////////////////////
				               Footer - Copyright
//////////////////////////////////////////////////////////////////////////*/
#footer {
	width: 100%;
	height: 180px;
	background-color: #000000;
	filter:alpha(opacity=80);
	background-color: rgba(32,32,32, 0.8);
	}
#footer_content {
	width: 980px;
	height: 180px;
	margin: 0 auto;
   	padding: 0px;
	}
.footer_text {
	float: left;
	width: 400px;
	margin: 0;
   	padding: 125px 0px 0px 0px;
	font-size: 12px;
	font-weight: 300;
	text-align: left;
	color: #fff;
	}
.footer_text a:link{
	text-decoration: none;
	color: #fff;
	}
.footer_text a:visited{
	text-decoration: none;
	color: #fff;
	}
.footer_text a:hover{
	text-decoration: none;
	color: #00afeb;
	}
.logos{
	float: right;
	width: 400px;
	margin: 0;
   	padding: 70px 0px 0px 0px;
	text-align: right;
	}
.logos img{
	margin-left: 10px;
	}